@rendermode InteractiveAuto
@page "/Services"
<PageTitle>Services - Conover Home Inspections</PageTitle>
<MainHeader Title="Services" />

<ResponsiveSplit>
	<LeftContent>
		<SectionHeader Title="Home Inspection Services" />
	</LeftContent>
	<RightContent>
		@if (_productGroups == null || !_productGroups.Any())
		{
			<MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" StrokeWidth="2" />
		}
		else
		{
			<MudExpansionPanels Dense="false" Elevation="0" Square="true" DisableBorders="false" MultiExpansion="true">
				@foreach (var group in _productGroups)
				{
					<MudExpansionPanel>
						<TitleContent>
							<MudText Typo="Typo.h6" Color="Color.Primary">@((MarkupString)group?.GroupName)</MudText>
						</TitleContent>
						<ChildContent>
							<MudText>@((MarkupString)group?.Description)</MudText>
							<MudDivider  Light="true" DividerType="DividerType.FullWidth" Class="my-2"/>
							<div class="d-flex justify-end">
								<MudButton Class="expansion-button" DisableElevation="true" Variant="Variant.Text" Color="Color.Primary" ButtonType="ButtonType.Button" Size="Size.Large" IconColor="Color.Secondary" Href="@($"/Pricing#group-{@group?.GroupId}")" EndIcon="@Icons.TwoTone.MonetizationOn">See Pricing</MudButton>
								<MudButton Class="expansion-button" DisableElevation="true" Variant="Variant.Text" Color="Color.Primary" ButtonType="ButtonType.Button" Size="Size.Large" IconColor="Color.Secondary" Href="@($"/Contact?groupId={@group?.GroupId}")" EndIcon="@Icons.TwoTone.Schedule">Schedule a Consultation</MudButton>
							</div>
						</ChildContent>
					</MudExpansionPanel>
				}
			</MudExpansionPanels>
		}
	</RightContent>
</ResponsiveSplit>
<style>
	.expansion-button{
		border-radius: 0;
	}
	.expansion-button:hover{
		border-radius: 0;
		color: #ffffff;
	}
</style>
@code{
}