@using ConoverHomeInspections.Shared
@inject NavigationManager Nav
@rendermode InteractiveAuto

<MudBreakpointProvider>
	<!-- Full nav bar -->
	<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
		<MudAppBar Elevation="0" DisableGutters="false" Color="Color.Dark" Fixed="false" Dense="false" Style="height: 80px;" ToolBarClass="d-inline-flex align-center flex-grow-1">
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary tracking-in-contract fill-logo">
					@* <MudImage Alt="Conover Home Inspections logo." Elevation="0" Height="48" Src="/images/logos/SVG/logo-white-svg.svg" /> *@
					<MudText Typo="Typo.h6" Color="Color.Inherit">Conover</MudText>
				</NavLink>
			</div>
			<MudSpacer />
			@foreach (var nav in _navigations)
			{
				<div class="h-100 mud-ripple align-content-center flex-shrink-1">
					<NavLink Match="NavLinkMatch.All" href="@nav.Navigation" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
						<MudIcon Class="mr-1" Icon="@nav.Icon" /><MudElement HtmlTag="div" Class="mud-nav-link-text"><MudText Typo="Typo.button" Color="Color.Inherit">@nav.Title</MudText></MudElement>
					</NavLink>
				</div>
			}
		</MudAppBar>
	</MudHidden>

	<!-- Mobile nav bar -->
	<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
		<MudAppBar Elevation="0" Color="Color.Dark" Fixed="false" Dense="false" Style="height: 58px; max-height: 100%" ToolBarClass="d-flex align-center flex-grow-1">
			<div class="mud-ripple align-content-center d-flex h-100 flex-shrink-1" >
				<NavLink Match="NavLinkMatch.All" href="/" class="justify-center mud-nav-link mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary fill-logo">
					@* <MudImage Alt="Conover Home Inspections logo." Elevation="0" Src="/images/logos/SVG/logo-white-svg.svg" Width="96" Fluid="true" /> *@
					<MudText Typo="Typo.h6" Color="Color.Inherit">Conover</MudText>
				</NavLink>
			</div>
			<MudSpacer />
			@foreach (var nav in _navigations)
			{
				<div class="h-100 mud-ripple align-content-center flex-shrink-1">
					<NavLink Match="NavLinkMatch.All" href="@nav.Navigation" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
						<MudIcon Title="@nav.Title" Icon="@nav.Icon" />
					</NavLink>
				</div>
			}
		</MudAppBar>
	</MudHidden>

</MudBreakpointProvider>

@code{
	private List<SiteNav> _navigations = AppSettings.SiteNavigationList;
}