@inject NavigationManager Nav
@rendermode InteractiveAuto

<MudBreakpointProvider>
	<!-- Full nav bar -->
	<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
		<MudAppBar Elevation="0" DisableGutters="false" Color="Color.Dark" Fixed="false" Dense="false" Style="height: 80px;" ToolBarClass="d-inline-flex align-center flex-grow-1">
			@* <MudLink Href="/"> *@
			@* 	<MudImage Alt="Conover Home Inspections logo." Elevation="0" Height="48" Src="/images/logos/SVG/logo-white-svg.svg" /> *@
			@* </MudLink> *@
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary fill-logo">
					<MudImage Alt="Conover Home Inspections logo." Elevation="0" Height="48" Src="/images/logos/SVG/logo-white-svg.svg" />
				</NavLink>
			</div>
			<MudSpacer />
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Services" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Class="mr-1" Icon="@Icons.TwoTone.HomeRepairService" /><MudElement HtmlTag="div" Class="mud-nav-link-text">Services</MudElement>
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Pricing" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Class="mr-1" Icon="@Icons.TwoTone.AttachMoney" /><MudElement HtmlTag="div" Class="mud-nav-link-text">Pricing</MudElement>
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Contact" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Class="mr-1" Icon="@Icons.TwoTone.ContactPage" /><MudElement HtmlTag="div" Class="mud-nav-link-text">Contact</MudElement>
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/About" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Class="mr-1" Icon="@Icons.TwoTone.QuestionMark" /><MudElement HtmlTag="div" Class="mud-nav-link-text">About</MudElement>
				</NavLink>
			</div>
			@* <NavLink href="/Pricing" class="px-4 py-2 align-content-center mud-link mud-link-underline-hover mud-button-label mud-text-primary" ActiveClass="mud-link mud-secondary-text"><MudIcon Class="mr-2" Icon="@Icons.TwoTone.AttachMoney" /><MudText>Pricing</MudText></NavLink> *@
			@* <NavLink href="/Contact" class="px-4 py-2 align-content-center d-inline-flex mud-link mud-link-underline-hover mud-button-label mud-text-primary" ActiveClass="mud-link mud-secondary-text"><MudIcon Class="mr-2" Icon="@Icons.TwoTone.ContactPage" /><MudText>Contact</MudText></NavLink> *@
			@* <NavLink href="/About" class="px-4 py-2 align-content-center d-inline-flex mud-link mud-link-underline-hover mud-button-label mud-text-primary" ActiveClass="mud-link mud-secondary-text"><MudIcon Class="mr-2" Icon="@Icons.TwoTone.QuestionMark" /><MudText>About</MudText></NavLink> *@
			@* <MudNavLink Icon="@Icons.TwoTone.HomeRepairService" ActiveClass="mud-theme-primary h-100" Match="NavLinkMatch.All" Class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 flex-shrink-1" Href="/Services">Services</MudNavLink> *@
			@* <MudNavLink Icon="@Icons.TwoTone.AttachMoney" ActiveClass="mud-theme-primary" Match="NavLinkMatch.Prefix" Class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 flex-shrink-1" Href="/Pricing">Pricing</MudNavLink> *@
			@* <MudNavLink Icon="@Icons.TwoTone.ContactPage" ActiveClass="mud-link mud-theme-primary" Match="NavLinkMatch.All" Class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 flex-shrink-1" Href="/Contact">Contact</MudNavLink> *@
			@* <MudNavLink Icon="@Icons.TwoTone.QuestionMark" ActiveClass="mud-link mud-theme-primary" Match="NavLinkMatch.All" Class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 flex-shrink-1" Href="/About">About</MudNavLink> *@
		</MudAppBar>
	</MudHidden>

	<!-- Mobile nav bar -->
	<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
		<MudAppBar Elevation="0" Color="Color.Dark" Fixed="false" Dense="false" Style="height: 68px;" ToolBarClass="d-flex align-center flex-grow-1">
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary fill-logo">
					<MudImage Alt="Conover Home Inspections logo." Elevation="0" Height="44" Src="/images/logos/SVG/logo-white-svg.svg" />
				</NavLink>
			</div>
			<MudSpacer />
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Services" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Title="Services" Icon="@Icons.TwoTone.HomeRepairService" />
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Pricing" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Title="Pricing" Icon="@Icons.TwoTone.AttachMoney" />
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/Contact" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Title="Contact" Icon="@Icons.TwoTone.ContactPage" />
				</NavLink>
			</div>
			<div class="h-100 mud-ripple align-content-center flex-shrink-1">
				<NavLink Match="NavLinkMatch.All" href="/About" class="flex-grow-1 justify-center mud-nav-link h-100 mud-link-underline-hover align-center" ActiveClass="mud-link mud-theme-primary">
					<MudIcon Title="About" Icon="@Icons.TwoTone.QuestionMark" />
				</NavLink>
			</div>
		</MudAppBar>
	</MudHidden>

</MudBreakpointProvider>