@rendermode InteractiveAuto
<MudCard Elevation="0" Square="true" Outlined="true">
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true" Align="Align.Center">@((MarkupString)Service?.ServiceName)</MudText>
			<MudDivider DividerType="DividerType.FullWidth" />
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudStack Spacing="2">
			<div style="overflow-y: scroll; max-height: 200px;">
				<MudText Typo="Typo.body1">@((MarkupString)Service?.Description)</MudText>
			</div>

			@if (Service.Details.Any())
			{
				<MudDivider DividerType="DividerType.Middle" />
				<MudButton Class="detail-button" Color="Color.Tertiary" OnClick="@(() => OnExpandCollapseClick())">
					@(_expanded
						  ? "Hide Details"
						  : "See More")
				</MudButton>
				<MudCollapse Expanded="_expanded" MaxHeight="250" Style="overflow-y: scroll;" Align="Align.Left">
					<MudDivider Light="true" DividerType="DividerType.FullWidth" Class="my-2" />
					@foreach (var detail in Service.Details)
					{
						<MudText GutterBottom="true" Typo="Typo.body2">@((MarkupString)@detail.Title)</MudText>
						<MudText GutterBottom="false" Typo="Typo.body2">@((MarkupString)@detail.Description)</MudText>
					}
				</MudCollapse>
			}
		</MudStack>
		<MudStack Justify="Justify.Center" Spacing="2" AlignItems="AlignItems.Center" Class="mt-4">
			<MudIcon Icon="@Icons.TwoTone.MonetizationOn" Color="Color.Success" Size="Size.Large" />
			<MudText Typo="Typo.h5" Color="Color.Default" Align="Align.Center">
				@($"{Service.Price:C}")
			</MudText>
			<MudDivider DividerType="DividerType.Middle" />
		</MudStack>
	</MudCardContent>
	<MudCardActions Class="d-flex justify-center">
		<MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Href="@($"/Contact?GroupId={Service.GroupId}&ServiceId={Service.ServiceId}")" Target="_blank" Size="Size.Large" Style="width: 50%; border-radius: 0;">
			<MudText Typo="Typo.button">Schedule Now</MudText>
		</MudButton>
	</MudCardActions>
</MudCard>

<style>
	.detail-button{
		border-radius: 0;
	}
	.detail-button:hover{
		border-radius: 0;
		color: #ffffff;
	}
</style>

@code {
}